html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}
.nav {
  flex-basis: 25%;
  width: 50%;
  display: flex;
  justify-content: center;

}
.article {
  flex-basis: 73%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.title {
  flex-basis: 100%;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
  flex-direction: column;
  background-color: beige;
  width: 90vw;
  height: 90vh;
  align-items: center;
  justify-content: space-around;
}

.recent-article {
  display: flex;
  justify-content: space-between;
  flex-basis: 48%;
  flex-wrap: wrap;
  align-content: space-between;
}
.recent {
  flex-basis: 48%;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48%;
}
.popular-article {
  display: flex;
  flex-basis: 48%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.popular{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 48%;
  background-color: green;
  height: 48%;
}
.popular.wide{
  flex-basis: 100%;
}
@media all and (max-width: 800px) {
  .nav {
    width: 60%;
  }
}
@media all and (max-width: 500px){
  .nav {
    width: 75%;
  }
}
@media all and (max-width: 300px){
  .container{
    background-color: lightblue;
  }
}